<body>
	<div class="container">


		<!-- Sidebar Column -->
		<%= render "professores/configuracoes/sidebar_conf"%>

  		<div class="col-md-9 col-sm-6 col-xs-12 ">
  			<h3 class="page-header">Meus Contextos</h1>
	    
	      	
  		</div>
	</div>
	<%= render "layouts/footer_main"%>
</body>