<body>
	<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="panel-heading">
	        <div class="dropdown pull-right">
	    		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Professor na Escola Elizete Seixas Dourado
	    		<span class="caret"></span></button>
	    		<ul class="dropdown-menu">
	    			<li class="dropdown-header">Estudante</li>
	    			<li><a href="#">na UNEB</a></li>
	    			<li class="divider"></li>
	      			<li class="dropdown-header">Professora</li>
	      			<li><a href="#">na Escola Maria Eugência</a></li>
			      	<li class="divider"></li>
	      			<li class="dropdown-header">Pai</li>
	      			<li><a href="#">Sávio Camacam</a></li>
			      	<li class="divider"></li>
			      	<li><a href="configuracoes/contextos">Gerenciar Perfis</a></li>
			      	<li><a href="#">Novo Perfil</a></li>
	    		</ul>
	  		</div>
  		</div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <ol class="breadcrumb">
                    <li class="active">Início</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Sidebar Functions -->
            <div class="col-md-3">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <b>3º Ano do Ensino Fundamental</b></h3>
                                </div>
                                <ul class="list-group">
                                    <a href="#" class="list-group-item ">Português</a>
                                    <a href="#" class="list-group-item ">Matemática</a>
                                    <a href="#" class="list-group-item ">Ciências</a>
                                    <a href="#" class="list-group-item ">História</a>
                                    <a href="#" class="list-group-item ">Geografia</a>
                                </ul>
                            </div>
                        </h4>
                    </div>
                </div>
                <!-- /.row -->
                

                <!-- Blog Categories Well -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <b>Aplicações</b></h3>
                                </div>
                                <ul class="list-group">
                                    <a href="#" class="list-group-item ">Agenda</a>
                                    <a href="#" class="list-group-item ">Avaliações</a>
                                    <a href="#" class="list-group-item ">Desempenho</a>
                                    <a href="#" class="list-group-item ">Diário de Classe</a>
                                    <a href="#" class="list-group-item ">Estudantes</a>
                                    <a href="#" class="list-group-item ">Planos e Ementas</a>
                                </ul>
                            </div>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

            <!-- Blog Entries Column -->
            <div class="col-md-9">

                <!-- First Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Second Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
                <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Third Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
                <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <%= render "layouts/footer_main"%>
</body>