<body>
	<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="panel-heading">
	        <div class="dropdown pull-right">
	    		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Professor na Escola Elizete Seixas Dourado
	    		<span class="caret"></span></button>
	    		<ul class="dropdown-menu">
	    			<li class="dropdown-header">Estudante</li>
	    			<li><a href="#">na UNEB</a></li>
	    			<li class="divider"></li>
	      			<li class="dropdown-header">Professora</li>
	      			<li><a href="#">na Escola Maria Eugência</a></li>
			      	<li class="divider"></li>
	      			<li class="dropdown-header">Pai</li>
	      			<li><a href="#">Sávio Camacam</a></li>
			      	<li class="divider"></li>
			      	<li><a href="#">Gerenciar Perfis</a></li>
			      	<li><a href="#">Novo Perfil</a></li>
	    		</ul>
	  		</div>
  		</div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <ol class="breadcrumb">
                    <li class="active">Início</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <!-- First Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Second Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
                <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Third Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
                <hr>
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                </a>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
                <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-right"></i></a>

                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Todas as Matérias -->
                <div class="well">
                    <h4>
                    <div class="row">
                        <div class="col-lg-12">
							<table class="table">
								<thead>
									<tr>
										<th>3º Ano do Ensino Fundamental</th>
									</tr>
								</thead>
							  	<tbody>
								    <tr>
								      	<td>Português</td>
								    </tr>
								    <tr>
								      	<td>Matermática</td>
								    </tr>
								    <tr>
								      	<td>Ciências</td>
								    </tr>
								    <tr>
								      	<td>História</td>
								    </tr>
								    <tr>
								      	<td>Geografia</td>
								    </tr>
								  </tbody>
							</table>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    </h4>
                    <!-- /.row -->

                    <a href="#" class="btn btn-default btn-block">Ver tudo</a>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>
                    <div class="row">
                        <div class="col-lg-12">
							<table class="table">
							  	<tbody>
							  		<tr>
								      	<td>Agenda</td>
								    </tr>
								    <tr>
								      	<td>Avaliações</td>
								    </tr>
								    <tr>
								      	<td>Desempenho</td>
								    </tr>
								    <tr>
								      	<td>Diário de Classe</td>
								    </tr>
								    <tr>
								      	<td>Estudantes</td>
								    </tr>
								    <tr>
								      	<td>Planos e Ementas</td>
								    </tr>
								    
								  </tbody>
							</table>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    </h4>
                    <!-- /.row -->

                    <a href="#" class="btn btn-default btn-block">Ver tudo</a>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>
                    <div class="row">
                        <div class="col-lg-12">
						 	<div class="navbar-default sidebar" role="navigation">
				                <div class="sidebar-nav navbar-collapse">
				                    <ul class="nav" id="side-menu">
				                        <li>
				                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
				                        </li>
				                        <li>
				                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
				                        </li>
				                        <li>
				                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
				                        </li>
				                        <li>
				                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
				                        </li>
				                        <li>
				                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
				                        </li>
				                        <li>
				                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
				                        </li>
				                        <li>
				                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
				                        </li>
				                    </ul>
				                </div>
				                <!-- /.sidebar-collapse -->
				            </div>
				            <!-- /.navbar-static-side -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    </h4>
                    <!-- /.row -->

                    <a href="#" class="btn btn-default btn-block">Ver tudo</a>
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    
</body>