<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sobre

                    <small>Uma equipe apaixonada</small>

                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Sobre</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-md-6">
                <h2>O sonho de mudar a Educação Pública </h2>
                <p>com o fornecimento de serviços que facilitam a vida dos profissionais da educação e de todas as pessoas que estão envolvidas no processo de formação das crianaças do nosso Brasil.Texto de introdução sobre a equipe. Em produção.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nossa Equipe</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/13310464_1076829755713268_4360914297548511194_n.jpg?oh=9fc0d648fd685d9e48f8d9a05f0470ed&oe=58F74CA6" alt="">
                    <div class="caption">
                        <h3>Alexandre Souto<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/alexandre.souto.140" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/14212627_1239948179400503_1805845003791518536_n.jpg?oh=0d4d05d581d17b45fdda2aad57efd505&oe=58EA9FBD" alt="">
                    <div class="caption">
                        <h3>Andre Monegat<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/amonegat" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/14642179_1837672496248014_6295753195071344274_n.jpg?oh=42c7be386809eb187627942775475edb&oe=58F39AF7" alt="">
                    <div class="caption">
                        <h3>Henrique Souza<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/rickftime" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/12802798_1020622271346211_5887125390960202710_n.jpg?oh=06b80574b23af46d383917525eb21490&oe=58FD0A54" alt="">
                    <div class="caption">
                        <h3>Ilzimara Silva<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/ilzimara.silva" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-1/15349802_1186355201441064_2788570316391656189_n.jpg?oh=56b07a43743dec56ac5c7fdc3ee5f8d0&oe=58DE9054" alt="">
                    <div class="caption">
                        <h3>João Vitor Verona<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/JoaaoVerona" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/10629617_788202131218312_1694388196460197030_n.jpg?oh=3f0d7a41c3df5c7ff84f03ab212dce80&oe=58AF33B5" alt="">
                    <div class="caption">
                        <h3>Leonardo Tuchinski<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/leonardo.tuchinski" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/cwcwZf4Q50e6MB3-7il5l-abNnvSZCAOU1j-tRdaKqYyu0S_ZSCZQMdnUK4v82y6RNAdcWgDvlZaIw=w1920-h1080-rw-no" alt="">
                    <div class="caption">
                        <h3>Rafael Liberato<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/liberato09" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/11148711_873466322696834_7958668537249457266_n.jpg?oh=cbd95a5e4a43beb23cf1e71584a2735f&oe=58DD227C" alt="">
                    <div class="caption">
                        <h3>Sávio Camacam<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/savio.camacam" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="https://scontent.fmgf1-1.fna.fbcdn.net/v/t1.0-9/15267851_1171763476224492_7669749955906107443_n.jpg?oh=dcbb4668a9bb579b422cf3071a97a298&oe=58DB1EE9" alt="">
                    <div class="caption">
                        <h3>Thiago Nakao<br>
                            <small>Indefinido</small>
                        </h3>
                        <p>Campo de descrição do membro.</p>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/thiago.alexandrenakao" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Customers</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <%= render "layouts/footer_main" %>

    </div>
    <!-- /.container -->

</body>