<footer class="<%= 'footer navbar-fixed-bottom' if current_page?(new_professor_session_path) %>">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="sobre">Sobre</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="servicos">Serviços</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="contato">Contato</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="pricing">Planos</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#">Privacidade</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; ATLA 2017. Todos os direitos reservados.</p>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled list-inline list-social-icons pull-right">
                    <li>
                        <a href="https://www.facebook.com/atlaeducacao/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>